
<div>
@Html.ActionLink("Book Cylinder", "staffcylinderbook_pageload", "Staffcylinderbook", null, new { @class = "btn btn-primary", title = "Click to book a cylinder", id = "book-cylinder-link" })
</div>
<br />

<div>
    @Html.ActionLink("BOOKING DETAILS", "staffviewfulldata_load", "staffviewfulldata", null, new { @class = "btn btn-primary", title = "Click to see details of booing"})
</div>